/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@700&display=swap');

/* CSS Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* General Styles */

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
    background-color:  hsl(36, 100%, 99%);
}

/* Header And Navigation Bar */

li, a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
}

header > h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
}